<div class="row">
  <% for post in @posts %>
    <div class="col-md-3 col-sm-6">
      <h4>
        <%# find user who created post %>
        <% user = User.find_by({ "id" => post["user_id"] }) %>
        <%# handle any potential bad data where the post is missing a user %>
        <% if user %>
          <%= user["first_name"] %>
        <% else %>
          anonymous
        <% end %>
      </h4>

      <% if post.uploaded_image.attached? %>
        <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
      <% else %>
        <img src="<%= post["image"] %>" class="img-fluid">
      <% end %>

      <p><%= post["body"] %></p>
    
 
     <%= form_with :model => @comment do |form| %>
      <%= form.label "Write Comment", :class => "form-label" %>
      <%= form.text_field "body", :class => "form-control" %>
      <%= form.hidden_field "post_id", :value => post["id"] %>
    <%= form.submit "Create Comment", :class => "btn btn-primary" %>
  <% end %>
    </p>
      
<h5>Comments</h5>
<% for comm in @comments %>
    <% if comm["post_id"] == post["id"] %>
    <% author = User.find_by({ "id" => comm["user_id"] }) %>
        <% if author %>
          <h6><%= author["first_name"] %> <%=author["last_name"]%></h6>
        <% end %>
   <p> <%= comm["body"] %></p>
       
 <% end %>

 <% end %>
  </div>
<% end %>
 </div>
